div.foot_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    br{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h1{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        color:     #4b4b4b;
    }
    h2{
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
        color:     #4b4b4b;
    }
}
div.footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

div.foot_container{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
}

div.foot_description{
    font-size: 13px;
    color:     #818181;
}

div.foot_rights{
    font-size: 15px;
    color:     #818181;
    margin-top: 20px;
    margin-left: 50%;
}

@media screen and (max-width: 480px){

}
