// Place all the styles related to the manual controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr{
    color: #dfdfdf;
}

div.introduction{
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    margin-left: 2%;
}

div.intro_message{
    p{
        border: solid 1px #9c9c9c;
        border-radius: 3px;
        display: flex;
        margin-right: 50%;
        align-items: center;
    }
}
