%hr
%div.footer
	%div.foot_info
		%div
			%h1 Charactor's Info
			%div.foot_container
				= image_tag 'ilias.png', :size => '64x64'
				%div.foot_description
					%h2 Ilias "Constantinus" Dracius
					He was born in
					%a{:href => 'https://ja.wikipedia.org/wiki/コンスタンティノープル'}Constantinople
					, the Capital of
					%a{:href => 'https://ja.wikipedia.org/wiki/東ローマ帝国'}Eastern Roman Empire. 
					%br
					He is a 
					%i "Ημίθεος"
					(Greek langage: a person who is half god and half human).
		%div
			%h1 Developer's Info
			%div.foot_container
				= image_tag 'dev.jpg', :size => '64x64'
				%div.foot_description
					%h2 Mamutaloh
					I'm received the BS degree in computer science from 
					%a{:href => 'https://www.osaka-u.ac.jp/ja'}Osaka University
					and completed 
					%a{:href => 'http://www.ist.osaka-u.ac.jp/english/'}the master’s course at the same university.
					Currently I'm working in as a system engineer of embedded systems. My research interests include image processing algorithms and ML.
	%div.foot_rights
		%hr
		2020 Mamutaloh all rights reserved.